body {
  margin: 0;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: FoundersGrotesk, sans-serif;
}

/* Formatting jobs  */
.searchBar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}


input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid rgb(16, 67, 13);
  transition: all 0.2s;
  width: 100%;
}


#search {
padding: 0.25rem;
border: none;
font-family: inherit;
font-size: 1.2em;
border-bottom: 2px solid rgb(16, 67, 13);
transition: all 0.2s;
width: 100%;
}

.content h1 {
  /* margin-top: 3%; */
  text-align: center;
  padding: 15px;
  background-color: #c7eafb;
}

/* form input {
margin-left: 25%;
padding: 0.25rem;
border: none;
font-family: inherit;
font-size: 1.2em;
border-bottom: 2px solid rgb(16, 67, 13);
transition: all 0.2s;
width: 50%;
text-align: center;
} */
.submitJob {
  margin-left: 46%;
  margin-top: 2%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #467D3D;
  background: none;
  text-decoration: underline;
  border: none;
}


/* .content {
  display: block;
  margin: auto;
}
.content form {
display: inline-block;
justify-content: center;
padding: 0.25rem;
border: none;
font-family: inherit;
font-size: 1.2em;
border-bottom: 2px solid rgb(16, 67, 13);
transition: all 0.2s;
width: 50%;
text-align: center;
} */


.jobContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "job job job"
    "job job job";

}

.jobCard {
  display: block;
  justify-content: center;
  text-align: center;
  background-color: #c7eafb94;
  max-width: 94%;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 4%;
  color: #1A1F0F;
  border-radius: 1.5%;
}
.jobLoc {
  font-size: large;
  font-weight: 400;
}
.jobCard p {
margin-left: 3%;
margin-right: 3%;
font-weight: 500;
}
.jobCard h2{
  color: #162807;
}

.jobImage {
  position: relative;
  max-width: 70%;
  max-height: 70%;
  margin: 3%;
  border-radius: 1.5%;
}

.jobButton {
  font-family: FoundersGrotesk, sans-serif;
  font-size: 19px;
  color: white;
  background: #00aeef;
  text-decoration: none;
  border-radius: 800px;
  border: none;
  margin: 5px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 6px;
}

.jobButton:hover{
  font-size: 20px;
  background-color: #0190c4
}

/* Banner */
.top-banner-text,
.hidden {
  font-family: "Magda", "sans-serif";
  font-size: 15px;
  line-height: 30px;
  text-align: center;

  background-color: #809c4c;
  color: black;
  font-weight:bold;

}

.top-banner::before {
  content: "NYClean is here!";
  animation: animate infinite 7s;
  padding-left: 10px;
}

@keyframes animate {

  0% {
    content: "Volunteer Today!";
  }

  45% {
    content: "Help us keep our city clean.";
  }

  75% {
    content: "Cleaning is caring!";
  }
}

/* Logo Bar */
.logo_bar {
  line-height: 40px;
  text-align: left;
  padding-left: 16px;;
  background-color: #ecf3ed;
  color: #100909;
  font-family: arial, sans-serif;
  font-size: large;
  font-weight: 700;
}

/* Google Map */
.google-map {
  max-width: 600px;
  max-height: 550px;
  padding: 20px;
}

/* Volunteers */
.volunteers {
  max-width: 800px;
  max-height: 400px;
}


/* Avatar selection icons */
/* .avatarDiv {
  margin-top: 9px;
  margin-left: 6.5%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
} */
.avatarDiv h5{
  font-size: large;
}
.avatarIcon {
  width: 60px;
  border-style: solid;
  border-radius: 8px;
}

.avatarCard {
  display: inline-flex;
  align-self: flex-end;
  align-items: center; 
  margin: 10px;
  width: 60px;

}

.avatarSelected {
  position: relative;
  right: 60px;
  top: 48px;
}

/* PROFILE STYLING */
.profile {
  display: inline-block;
  text-align: left;
  position: center;
}

.profilePicture {
  width: 120px;
  border-style: solid;
  border-radius: 8px;
}

.profileJobs {
  background-color: #809c4c;
  width: 400px;
  list-style: none;
}

.profileJobs img {
  width: 400px;
}


/* Side Bar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #376312;
  color: white
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(12, 42, 25);
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

}

.orgs_page_box {
  text-align: left;
  width: 500px;
  border: 1px solid white;
  position: relative;
  margin-left: 25%;
}


#signUpLogin {
  display: grid;
  grid-template-areas: 
  "h" "h" 
  "a" "b";
  /* height: 400px; 
  background-color: #f2f1f1; */
  grid-template-columns: 2fr 2fr;
}
.signDiv {
  margin-left: 4%;
}

.signUpForm {
  font-family: sans-serif;
  grid-area: "a";
  font-size: large;
  /* padding-top: 15px; */
  margin-left: 30%;
  margin-right: 5%;
  /* margin-top: 10%; */
  margin-bottom: 20%;
  /* background-color: white;
  text-align: center;
  outline-style: groove;
  outline-color: #276e1daf;
  outline-width: thin;  */
}
.signUpForm input {
  font-family: sans-serif;
  font-size: medium;
  margin: 2px;
  text-align: center;
}


.loginDiv {
  grid-area: "b";
  text-align: center;
  font-size: large;
  margin-right: 30%;
  margin-left: 5%;
  margin-bottom: 20%;
}
.loginDiv input {
  font-family: sans-serif;
  font-size: medium;
  margin: 2px;
  text-align: center;
}
.head {
  grid-area: "h";
}
div.loginDiv{
  margin-left: 5%;
  margin-right: 5%;
  
}
div.signUpForm{
  margin-left: auto;
  margin-right: auto;
}
.caButton {
  font-family: FoundersGrotesk, sans-serif;
  font-size: 19px;
  color: white;
  background: #00aeef;
  text-decoration: none;
  border-radius: 800px;
  border: none;
  margin: 5px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 6px;
}
.caButton:hover{
  font-size: 20px;
  background-color: #0190c4
}
#ca {
  margin-left: 30%;
}

.orgCard {
  background-color: #809c4c;
  list-style: none;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 8px;

}