body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Formatting jobs  */
.searchBar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
input {
padding: 0.25rem;
border: none;
font-family: inherit;
font-size: 1.2em;
border-bottom: 2px solid rgb(16, 67, 13);
transition: all 0.2s;
width: 100%;
}
.jobContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header" 
    "job job job"
    "job job job";

}
.jobCard {
  display: block;
  justify-content: center;
  background-color: aliceblue;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  outline-style: double;
  outline-color: #cfc4c4;
  outline-width: thin;
}
.jobImage {
  position: relative;
  max-width: 70%;
  max-height: 70%;
  margin: 3%;
}

/* Banner */
.top-banner-text,
.hidden {
  font-family: "Magda", "sans-serif";
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  background-color: #809c4c;
  color: #ffffff;
}
.top-banner::before {
  content: "NYClean is here!";
  animation: animate infinite 7s;
  padding-left: 10px;
}
@keyframes animate {

  0% {
    content: "Volunteer Today!";
  }

  45% {
    content: "Help us keep our city clean.";
  }

  75% {
    content: "Cleaning is caring!";
  }
}

/* Logo Bar */
.logo_bar {
  line-height: 40px;
  text-align: left;
  background-color: #ecf3ed;
  color: #100909;
}

/* Google Map */
.google-map {
  max-width: 600px;
  max-height: 550px;
  padding: 20px;
}

/* Volunteers */
.volunteers {
  max-width: 800px;
  max-height: 400px;
}

/* Avatar selection icons */
.avatarIcon {
  width: 60px;
  
}

.avatarCard {
  display: inline-flex;
  margin: 10px;
  border-style: solid;
  width: 60px;
}