body {
  margin: 0;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: FoundersGrotesk, sans-serif;
}
/* Formatting jobs  */
.searchBar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid rgb(16, 67, 13);
  transition: all 0.2s;
  width: 100%;
}
#search {
padding: 0.25rem;
border: none;
font-family: inherit;
font-size: 1.2em;
border-bottom: 2px solid rgb(16, 67, 13);
transition: all 0.2s;
width: 100%;
}
.content h1 {
  text-align: center;
  padding: 15px;
  background-color: #c7eafb;
}


.submitJob {
  margin-left: 46%;
  margin-top: 2%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #467D3D;
  background: none;
  text-decoration: underline;
  border: none;
}


.jobContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "job job job"
    "job job job";

}
.jobCard {
  display: block;
  justify-content: center;
  text-align: center;
  background-color: #c7eafb94;
  max-width: 94%;
  margin-top: 4%;
  color: #1A1F0F;
  border-radius: 1.5%;
}
.jobLoc {
  font-size: large;
  font-weight: 400;
}
.jobCard p {
margin-left: 3%;
margin-right: 3%;
font-weight: 500;
}
.jobCard h2{
  color: #162807;
}
.jobImage {
  position: relative;
  max-width: 70%;
  max-height: 70%;
  margin: 3%;
  border-radius: 1.5%;
}
.jobButton {
  font-family: FoundersGrotesk, sans-serif;
  font-size: 19px;
  color: white;
  background: #00aeef;
  text-decoration: none;
  border-radius: 800px;
  border: none;
  margin: 5px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 6px;
}
.jobButton:hover{
  font-size: 20px;
  background-color: #0190c4
}

/* Banner */
.top-banner-text,
.hidden {
  font-family: "Magda", "sans-serif";
  font-size: 15px;
  line-height: 30px;
  text-align: center;

  background-color: #809c4c;
  color: black;
  font-weight:bold;

}
.top-banner::before {
  content: "NYClean is here!";
  animation: animate infinite 7s;
  padding-left: 10px;
}
@keyframes animate {

  0% {
    content: "Volunteer Today!";
  }

  45% {
    content: "Help us keep our city clean.";
  }

  75% {
    content: "Cleaning is caring!";
  }
}

/* Logo/ Logo Bar */
.logo_bar {
  line-height: 40px;
  text-align: left;
  padding-left: 16px;;
  background-color: #ecf3ed;
  color: #100909;
  font-family: arial, sans-serif;
  font-size: large;
  font-weight: 700;
}
.logo {
  max-width: 70px;
  padding-left: 10px;
  padding-top: 10px;
}
.logo-text {
  float: left;
  color: #6fa249;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 40px;
}

/* Google Map */
.google-map {
  max-width: 400px;
  max-height: 400px;
  padding: 10px;
}

/* Avatar selection icons */
.avatarDiv {
  margin-top: 9px;
  margin-left: 6.5%;
}
.avatarDiv h5{
  font-size: large;
  margin:auto;
}
.avatarIcon {
  width: 60px;
  border-style: solid;
  border-radius: 8px;
}
.avatarCard {
  display: inline-flex;
  margin: 5px;
  width: 60px;
  height: 64px;
}
.avatarSelected {
  position: relative;
  right: 60px;
  top: 48px;
}

/* PROFILE STYLING */
.userJobContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header"
    "job job job"
    "job job job";

}
.profile {
  margin: auto;
  text-align: center;
}
.username {
  text-decoration: green underline overline;
}
.profilePicture {
  width: 120px;
  border-radius: 8px;
}
.jobContainer h1 {
  grid-area: "header";
}

.userJobCard {
  display: block;
  justify-content: center;
  text-align: center;
  background-color: #c7eafb94;
  max-width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  color: #1A1F0F;
  border-radius: 1.5%;
}


/* Side Bar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */

.sidebar a:hover:not(:active) {
  background-color: rgb(12, 42, 25);
  color: white;
}
/* Active/current link */
.sidebar a:active {
  background-color: #376312;
  color: white
}
.sidebar a:focus {
  background-color: #376312;
  color: white
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.orgs_page_box {
  text-align: left;
  width: 500px;
  border: 1px solid white;
  position: relative;
  margin-left: 25%;
}
/* Volunteers */
.volunteers {
  max-width: 400px;
  max-height: 500px;
  float: left;
}
.volunteers1 {
  max-width: 700px;
  max-height: 500px;
}
/* Sign Up Login */
#signUpLogin {
  display: grid;
  grid-template-areas: 
  "h" "h" 
  "a" "b";
  grid-template-columns: 2fr 2fr;
}
.signDiv {
  margin-left: 4%;
}
.signUpForm {
  font-family: sans-serif;
  grid-area: "a";
  font-size: large;
  margin-left: 30%;
  margin-right: 5%;
  margin-bottom: 20%;

}
.signUpForm input {
  font-family: sans-serif;
  font-size: medium;
  margin: 2px;
  text-align: center;
}
.loginDiv {
  grid-area: "b";
  text-align: center;
  font-size: large;
  margin-right: 30%;
  margin-left: 5%;
  margin-bottom: 20%;
}
.loginDiv input {
  font-family: sans-serif;
  font-size: medium;
  margin: 2px;
  text-align: center;
}
.head {
  grid-area: "h";
}
div.loginDiv{
  margin-left: 5%;
  margin-right: 5%;
  
}
div.signUpForm{
  margin-left: auto;
  margin-right: auto;
}
select {
  margin-left: 30%;
}
.caButton {
  font-family: FoundersGrotesk, sans-serif;
  font-size: 19px;
  color: white;
  background: #00aeef;
  text-decoration: none;
  border-radius: 800px;
  border: none;
  margin: 5px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 6px;
}
.caButton:hover{
  font-size: 20px;
  background-color: #0190c4
}
#ca {
  margin-left: 32%;
}
.orgCard {
  background-color: #809c4c;
  list-style: none;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* Flex Home page */
.flex {
  display: flex;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

 /* About Us */
.firstsection {
  width: 100%;
}
.firstsection {
  display: block;
  font-size: 36px;
  font-weight: 300;
  line-height: 42.0001px;
  text-align: center;
}

.firstsection {
  display: block;
  width: 100%;
  height: 250px;
  background-color: #dff0cc;
  float: left;
}

.header {
  background-color: #dff0cc;
}
.h1,
.h2,
.h3 {
  color: rgb(87, 151, 73);
  padding: 10px;
  width: 30%;
  border-top: 4px solid rgb(20, 133, 65);
  background-color: white;
  height: 40px;
  font-size: smaller;
}

.expand {
  margin: auto;
}

.firstsection {
  display: flex;
  flex-wrap: row wrap;
  justify-items: center;
  justify-content: center;
  justify-content: space-around;
}
.pop {
  float: right;
  height: 100px;
  width: 100%;
  text-align: center;
}

.more{
  background-color: white;
  min-width: fit-content;
  font-size: 20px;
  color:rgb(16, 67, 13);
  padding: 10px;
  border-radius: 10px;
}

.usersProfile{
  position: relative;
  width: 75%;
  left: 250px;
}

.usersProfile div{
  text-align: left;
}